{% extends "base.html.twig" %}
    {% block body %}
        {{ parent() }}
        <div class="container">
            <h2>Trainers</h2>
            <a href="{{ path('trainer.add') }}"><button class="btn btn-success">Add<i class="fas fa-plus"></i></button></a>
            <br>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for trainer in trainers %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ trainer.name }}</td>
                        <td>{{ trainer.telephone }}</td>
                        <td>
                            <a href="{{ path('trainer.index', {'id': trainer.id}) }}"><button class="btm btn-info" name="edit">View</button></a>
                            <a href="{{ path('trainer.delete', {'id': trainer.id}) }}"><button class="btm btn-danger" name="delete">Delete</button></a>
                            <a href="{{ path('trainer.index', {'id': trainer.id}) }}"><button class="btm btn-primary" name="update">Update</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}