{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="hed"><h3>Add Trainer: </h3></div>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.telephone) }}
            {{ form_errors(form.telephone) }}
            {{ form_widget(form.telephone) }}
        </div>
        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_errors(form.image) }}
            {{ form_widget(form.image) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}