{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
<div class="container">
    <div class="hed"><h3>Add Client: </h3></div>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>
    <div class="form-group">
        {{ form_row(form.address) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email) }}
    </div>
    <div class="form-group">

        {{ form_row(form.telephone) }}
    </div>
    <div class="form-group">
        {{ form_row(form.trainer) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
