{% extends "base.html.twig" %}
    {% block body %}
        {{ parent() }}
        <div class="container">
            <h2>Clients</h2>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <a href="{{ path('client.add') }}"><button class="btn btn-success">Add <i class="fas fa-plus"></i></button></a>
            <br>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.telephone }}</td>
                        <td>{{ client.email }}</td>
                        <td>
                            <a href="{{ path('client.view', {'id': client.id}) }}"><button class="btm btn-info" name="edit">View</button></a>
                            <a href="{{ path('client.delete', {'id': client.id}) }}"><button class="btm btn-danger" name="delete">Delete</button></a>
                            <a href="{{ path('client.update', {'id': client.id}) }}"><button class="btm btn-primary" name="update">Update</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}