{% extends "base.html.twig" %}
    {% block body %}
        <br>
        <div class="container">
            <h1>Client</h1>
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Client</h5>
                        <hr>
                        <p class="card-text">Name: {{ client.name }}</p>
                        <p class="card-text">Trainer Name : {{ client.trainer.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

    {% endblock %}